<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SkyVault</title>
    <link rel="stylesheet" href="/stylesheets/style.css">

    <script src="https://cdn.tailwindcss.com"></script>

    <link href="https://cdn.jsdelivr.net/npm/remixicon@4.5.0/fonts/remixicon.css" rel="stylesheet"/>
    <link rel="stylesheet" href="stylesheets/style.css">
</head>
<body>
    <div class="main w-full h-screen bg-slate-900 text-white flex">
        <%- include('partials/sidebar') %>
        <div class="main-section w-[84%] h-full flex flex-col">
            <%- include('partials/navbar') %>
            <div class="storage p-10 w-full h-[90%] bg-white rounded-lg text-black">
                <h1 class="text-5xl tracking-tighter">All Files</h1>
                <div class="files-sections mt-4 w-[95%] h-[95%] rounded-lg">
                    <div class="file h-10 w-full border-b-2 border-slate-700 flex items-center justify-between px-4 text-black">
                        <div class="flex w-[80%] items-center justify-between gap-10">
                            <p class="w-[35%] font-semibold overflow-hidden whitespace-nowrap">Filename</p>
                            <p class="font-semibold">Filesize</p>
                            <p class="font-semibold mr-10">Upload Time</p>
                        </div>
                        <div class="btn"></div>
                    </div>
                    
                    <% if(files.length == 0) { %>
                        <p class="text-center text-2xl">No files found!</p>
                        
                    <% } else { %>
                        <% files.forEach(file => { %>
                            <div class="file cursor-pointer h-10 w-full border-b-2 border-slate-700 flex items-center justify-between px-4 text-black hover:bg-zinc-100">
                                <div class="flex w-[80%] items-center justify-between gap-10">
                                    <p class="w-[40%] overflow-hidden whitespace-nowrap"><%= file.filename %></p>
                                    <p><%= (file.filesize / 1000000).toFixed(2) %> MB</p>
                                    <p><%= (file.uploadtime).toLocaleString() %></p>
                                </div>
                                <div class="btns flex gap-4">
                                    <button class="btn">
                                        <a href="/skyvault/delete-file?id=<%= file._id %>" onclick="deletedSuccessfully()">
                                            <i class="ri-delete-bin-5-fill hover:font-bold"></i>
                                        </a>
                                    </button>
                                    <button class="btn">
                                        <a href="/skyvault/download-file?id=<%= file._id %>">
                                            <i class="ri-download-2-line hover:font-bold"></i>
                                        </a>
                                    </button>
                                </div>
                            </div>
                        <% }) %>
                    <% } %>
                </div>
            </div>
        </div>
    </div>

    <script src="/javascripts/scripts.js"></script>
</body>
</html>